ai-edge-litert==2.1.2
apache-tvm==0.26.0
apache-tvm-ffi==0.1.14.post0
executorch==0.3.0
onnx==1.20.1
onnx-ir==1.0.0
onnx2tf==2.6.9
onnxoptimizer==0.4.2
onnxruntime==1.26.0
onnxscript==0.6.2
onnxsim==0.6.5
pytorch_tokenizers==1.5.0
sne4onnx==2.0.1
sng4onnx==2.0.1
tensorflow==2.21.0
torch==2.4.1
torchao==0.18.0
torchvision==0.23.0
